
<a href="modal-educacion"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
<a href=""><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   


<div  class="educacion">
   <div> <h3 style="text-align: left;">Educacion... </h3></div>
   
    <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col">
            <div>
              <a href="modal-educacion-img"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
              <a href=""><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   
              </div>


            <div> <img class="universidad" src="{{persona.educacionImg1}}"> Ingeniero en Electronica </div>
          </div>
          <div class="col">
         <!--  Universidad Tecnologica Nacional-->
           <p> {{persona.educacion}}</p>
          </div>
         </div>
      
        <div class="row align-items-end">
          <div class="col">
            <div> <img class="escuela" src="https://i.im.ge/2022/08/29/OPl2RW.enet.th.jpg">   Enet N° 1  </div>
          </div>
        
          <div class="col">
           Tecnico Mecanico Electricista
          </div>
        </div>
      </div>
 </div>
 