
         
<div  class="skills">
  <div> <h3 style="text-align: left;">Hard & Soft Skills... </h3></div>
   
 <div class="container">
  
   
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col"> <div class="text1">HTML</div>

      
      <div class="progress-bar blue stripes">
      <span [style.width.%]="persona.hardsoft_html">{{persona.hardsoft_html}}</span>
      </div></div>
      
      <div class="col">  <div class="text1">COMUNICACION</div>
     
     
      <div class="progress-bar green stripes">
      <span [style.width.%]="persona.hardsoft_comunicacion">{{persona.hardsoft_comunicacion}}</span>
      </div></div>


      <div class="col">
        <div class="text1">JS</div>
     
     
     
        <div class="progress-bar blue stripes">
        <span [style.width.%]="persona.hardsoft_js">{{persona.hardsoft_js}}</span>
        </div>
      </div>


    <div class="col"> <div class="text1">CREATIVIDAD</div>
    
     
    <div class="progress-bar green stripes">
    <span [style.width.%]="persona.hardsoft_creatividad">{{persona.hardsoft_creatividad}}</span>
    </div>
    </div>


      <div class="col"> <div class="text1">CSS</div>
     
     
     
     
      <div class="progress-bar blue stripes">
      <span [style.width.%]="persona.hardsoft_css">{{persona.hardsoft_css}}</span>
      </div>
      </div>



      <div class="col"><div class="text1">PENSAMIENTO CRITICO</div>
     
     
    
      <div class="progress-bar green stripes">
      <span [style.width.%]="persona.hardsoft_pensamientocritico">{{persona.hardsoft_pensamientocritico}}</span>
      </div>
      </div>


      <div class="col"> <div class="text1">ANGULAR</div> 


    
      
      <div class="progress-bar blue stripes">
           <!-- <span style="width:20"></span>-->
       <span [style.width.%]="persona.hardsoft_angular">{{persona.hardsoft_angular}}</span>
       </div></div>


      <div class="col"><div class="text1">LIDERAZGO</div>
      
      
     
      
      <div class="progress-bar green stripes">
      <span [style.width.%]="persona.hardsoft_liderazgo">{{persona.hardsoft_liderazgo}}</span>
      </div>
      </div>
      
      
      <div class="col"><div class="col"> <div class="text1">JAVA</div> 
    
    
     
    
      <div class="progress-bar blue stripes">
           <!-- <span style="width:20"></span>-->
       <span [style.width.%]="persona.hardsoft_java">{{persona.hardsoft_java}}</span>
       </div></div></div>


      <div class="col">  <div class="col"><div class="text1">GESTION DEL TIEMPO</div>
      
      
     
      
      
      <div class="progress-bar green stripes">
      <span [style.width.%]="persona.hardsoft_gestiondeltiempo">{{persona.hardsoft_gestiondeltiempo}}</span>
      </div>
      </div></div>



      <div class="col"> <div class="col"><div class="col"> <div class="text1">MYSQL</div> 
     
     
     
     
      <div class="progress-bar blue stripes">
           <!-- <span style="width:20"></span>-->
       <span [style.width.%]="persona.hardsoft_mysql">{{persona.hardsoft_mysql}}</span>
       </div></div></div>
</div>

      
      <div class="col"> <div class="col">  <div class="col"><div class="text1">ACTITUD POSITIVA</div>
     
     
     
     
      <div class="progress-bar green stripes">
      <span [style.width.%]="persona.hardsoft_actitudpositiva">{{persona.hardsoft_actitudpositiva}}</span>
      </div>
      </div></div></div>


      
    </div>
  </div>

  
 </div>