


<div  class="experiencia">
<div> <h3 style="text-align: left;">Experiencia... </h3></div>

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <div> <img class="copitec" src="{{persona.experienciaImg1}}">   Ingeniero </div>
    </div>
    <div class="col">
         <p>{{persona.experiencia}}</p>
    </div>
    
  </div>


  <div class="row align-items-end">
    <div class="col">
      <div> <img class="cassa" src="assets/image/cassa.webp">  Docente en Colegio Cassaffousth </div>
    </div>
  
    <div class="col">
      Docente Titular de Electronica Digital IV
    </div>
  </div>
</div>
</div>
