<a href="modal-experiencia"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
<a href=""><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   

<div  class="experiencia">
<div> <h3 style="text-align: left;">Experiencia... </h3></div>





<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <a href="modal-experiencia-img"><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
        <a href=""><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>   
        </div>

      <div> <img class="copitec" src="{{persona.experienciaImg1}}">   Ingeniero </div>
    </div>
    <div class="col">
         <p>{{persona.experiencia}}</p>
    </div>
    
  </div>