<div><button type="submit" class="btn btn-primary" (click)="Logout()">Logout</button></div>

<app-encabezado-edit></app-encabezado-edit>

<div class="lineas"><hr></div>

<app-acerca-edit></app-acerca-edit>

<div class="lineas"><hr></div>

<app-experiencia-edit></app-experiencia-edit>     

<div class="lineas"><hr></div>

<app-educacion-edit></app-educacion-edit>

<div class="lineas"><hr></div>

<app-hard-edit></app-hard-edit>

<div class="lineas"><hr></div>

<app-proyecto-edit></app-proyecto-edit>
<div class="lineas"><hr></div>
<app-pie></app-pie>
